{% extends "master.html.twig" %}

{% block title %}All products{% endblock %}

{% block content %}
<a href="/addproduct">Add product</a>&nbsp; &nbsp; 
<a href="/register">Register</a>&nbsp; &nbsp; 
<a href="/login">Login</a>
<br><br>
{% if productList %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        {% for products in productList %}
            <tr>
                <td>{{products.ID}}</td>
                <td>{{products.name}}</td>
                <td>{{products.description}}</td>
                <td>{{products.imagePath}}</td>
                <td>{{products.price}}</td>               
            </tr>
        {% endfor %}            
    </table> 
<br><br>
{% else %}
    No products have been found.
{% endif %}

{% endblock %}
