{% extends "master.html.twig" %}

{% block title %}Bookings{% endblock %}

{% block content %}
<h1>Bookings</h1>

{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
            {% endfor %}
    </ul>
{% endif %}

{% if sessionUser %}
<p>Hi {{name}} ({{passport}}).</p>
<p>You want to travel</p>
<form method="post">
    From:<input type="text" name="fromAirport" value="{{v.from}}"><br><br>
    To:<input type="text" name="toAirport" value="{{v.to}}"><br><br>   
    <input type="submit" value="Book">
</form> 
{% else %}
<a href="/register">Register</a>&nbsp; &nbsp;     
<a href="/login">Login</a> 
{% endif %}
{% endblock %}
